<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="OrderTrackingDB"
			 connectionString="Data Source=TETrA\SQLEXPRESS;Initial Catalog=orderTracking;Integrated Security=True;Encrypt=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
